<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Classmates</title>
  </head>
  <style>  
  body {
    background-color: #0088cc;    
        }
  .navbar-nav {
            margin-left: auto;
        }
   a { 
    text-decoration: none;
    color:darkslategray;
   } 
  </style>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      {% block content %} {% endblock content %}
    </nav>
    <div class="d-flex justify-content-center"><h1><br><br><br><br><br></h1></p></div>
      {% block logic%}
      {% endblock logic %}
    
  </body>
</html>