{%extends 'home.html'%}
{%load crispy_forms_tags%}
{%load i18n%}
{%block content%}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="row flex-lg-nowrap">
  <div class="col">



    <div class="row flex-lg-nowrap">
      <div class="col mb-3">
        <div class="e-panel card">
          <div class="card-body">
            <div class="card-title">
              <h6 class="mr-2"><span></span><small class="px-1">{%trans 'Artcile manager'%}</small></h6>
            </div>
            <div class="e-table">
              <div class="table-responsive table-lg mt-3">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>{% trans 'Photo'%}</th>
                      <th class="max-width">{%trans 'Title'%}</th>
                      <th class="sortable">{%trans 'Date'%}</th>
                      <th>{%trans 'Actions'%}</th>
                    </tr>
                  </thead>
                  <tbody>
                      {%for article in articles%}
                    <tr>
                      <td class="align-middle text-center">
                       <a href="{%url 'revapp:detail' article.slug%}"><img class="card-img-top" src="{{article.images.first.image.url}}"> </a>
                      </td>
                     <td class="text-nowrap align-middle"> <a href="{%url 'revapp:detail' article.slug%}">{{article.title}}</a></td>
                      <td class="text-nowrap align-middle"><span>{{article.date_created|date:"M d, Y"}}</span></td>
                      <td class="text-center align-middle">
                        <div class="btn-group align-top">
                            <a href="{%url 'revapp:update' article.slug%}" class="btn btn-sm btn-outline-secondary badge" type="button" >{%trans 'Edit'%}</a>
                            <a href="{%url 'revapp:delete' article.slug%}" class="btn btn-sm btn-outline-secondary badge" type="button"><i class="fa fa-trash"></i></a>
                        </div>
                      </td>
                    </tr>
                    
                    {%endfor%}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3 mb-3">
       <table class="table">
           <thead>
               <div class="card">
                   <div class="card-title">
                    <h6 class="mr-2">{% trans 'Filter'%}</h6>
                    <ul class="nav nav-tabs">
                        
                        <form class="d-flex justify-content-center align-middle" method="GET">
                            {{filter.form|crispy}}

                            <li class="nav-item"><a class="nav-link active"><button class="btn btn-light"  type="submit"><i class="fas fa-search"></i></button></a></li>
                        </form>
                      </ul>
                   </div>
               </div>
           </thead>
           <tbody>
               <tr>
                <a href="{%url 'revapp:create'%}" class="btn btn-success btn-block">{%trans 'NEW ARICLE'%}<i class="fas fa-plus"></i></a>
               </tr>
           </tbody>
       </table>
      </div>
    </div>
    
  </div>
</div>
</div>
{%endblock%}